
MoreMegaStructure/.vs/MoreMegaStructure/FileContentIndex/5f61bea9-2ad3-44de-8301-e2ba1dda4219.vsidx
MoreMegaStructure/.vs/MoreMegaStructure/FileContentIndex/927a4b13-88e3-4023-b027-6c79e332a5dd.vsidx
MoreMegaStructure/.vs/MoreMegaStructure/v17/.suo
MoreMegaStructure/.vs/MoreMegaStructure/v17/.suo
MoreMegaStructure/.vs/MoreMegaStructure/v17/.suo
*.vsidx
*.vsidx
*.cache
MoreMegaStructure/MoreMegaStructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
MoreMegaStructure/MoreMegaStructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MoreMegaStructure/MoreMegaStructure/obj/Debug/MoreMegaStructure.csproj.AssemblyReference.cache
MoreMegaStructure/MoreMegaStructure/obj/Debug/MoreMegaStructure.csproj.CoreCompileInputs.cache
MoreMegaStructure/.vs/MoreMegaStructure/v17/.suo
